<!--<div class="container">
  <div class="row">
    <div class="col" id="copy">
      Copyright © RaaYmaan
    </div>
    <div class="col"><img class="redes" src="../../assets/iconos/instagram.svg"></div>
    <div class="col"><img class="redes" src="../../assets/iconos/youtube.svg"></div>
    <div class="col"><img class="redes" src="../../assets/iconos/soundcloud.svg"></div>
  </div>
</div>-->

<div class="footer">
  <p>Copyright © RaaYmaan</p>
  <img (click)="red(1)" src="../../assets/iconos/instagram.svg">
  <img (click)="red(2)" src="../../assets/iconos/youtube.svg">
  <img (click)="red(3)" src="../../assets/iconos/soundcloud.svg">
</div>
