#fondo{
  border-top: black solid 2px;
  background-image: url('../../assets/biblioteca.jpg');
  background-size: cover;
  background-repeat: repeat;

  height: 1024px;
}

.lista{
  font-family: Ribeye;
  font-size: 64px;
  font-style: normal;
  font-weight: 400;
  line-height: 87px;
  letter-spacing: 0em;
  text-align: center;
  margin-left: 10%;
  margin-top: 5%;
}


