#fondo{
  border-top: black solid 2px;
  background-image: url('../../assets/foro.png');
  background-size: cover;
  background-repeat: repeat;
  background-color: rgba(16, 16, 104, 0.911);

  height: 1024px;
}

h1{
  font-family: Ribeye;
  text-align: center;
  margin-top: 8%;
  font-size: 70px;
  color: rgba(170, 170, 170, 1);
}

h2{
  font-family: Ribeye;
  text-align: center;
  margin-top: 5%;
  font-size: 50px;
  color: rgba(170, 170, 170, 1);
}

.comentario{
  display: flex;
  flex-direction: column;
  margin: auto;
  border: black 2px solid;
  background-color: #aaaaaa7c;
  margin-left: 17%;
  margin-right: 17%;
}

.comentario p{
  text-align: center;
}

.subida-media{
  float: left;
  margin-left: 2%;
  margin-bottom: 1%;
  transition: all 0.4s;
}

.subida-media:hover{
  transform: scale(1.07, 1.07);
}

.subida-comentario{
  float: right;
  margin-right: 2%;
  margin-bottom: 1%;
  transition: all 0.4s;
}

.subida-comentario:hover{
  transform: scale(1.07, 1.07);
}

#titulo-comentario{
  text-align: center;
  float: none;
  margin: auto;
  font-family: Ribeye;
  color: rgba(0, 0, 0, 0.671);
  margin-top: 1%;
  margin-bottom: 1%;
  width: 96%;
  /*padding-left: 36%;
  padding-right: 36%;*/
  font-size: 180%;
}

.cabecera button{
  display: inline;
}

.cabecera button:first-child{
  float: left;
  margin-top: 1%;
}

button{
  height: 70px;
  width: 307px;
  left: 0px;
  top: 0px;
  border-radius: 0px;
  background: rgba(196, 196, 196, 0.3);
  font-family: Ribeye;
  font-size: 36px;
  font-style: normal;
  font-weight: 400;
  line-height: 49px;
  letter-spacing: 0em;
  text-align: center;
  color: rgba(170, 170, 170, 1);
}

.cabecera button:last-child{
  float: right;
  margin-top: 1%;
}

.desconect{
  float: right;
  margin-top: 1%;
}


@media only screen and (max-width:375px){
  .comentario{
    margin: auto;
  }
}
