<nav class="navbar navbar-expand-lg">
  <a class="navbar-brand" href="#"><img src="assets/Icono.png"></a>
  <button class="navbar-toggler" type="button" data-toggle="collapse" data-target="#navbarNavDropdown" aria-controls="navbarNavDropdown" aria-expanded="false" aria-label="Toggle navigation">
    <span class="navbar-toggler-icon"><i class="fas fa-bars"></i></span>
  </button>
  <div class="collapse navbar-collapse" id="navbarNavDropdown">
    <ul class="navbar-nav">
      <li class="nav-item active">
        <a class="nav-link enl" href="#">Home</a>
      </li>
      <li class="nav-item">
        <a class="nav-link enl" href="#">Biblioteca</a>
      </li>
      <!--
      <li class="nav-item">
        <a class="nav-link enl" href="#">Me</a>
      </li>
      -->
      <li class="nav-item">
        <a class="nav-link enl" href="#">Foro</a>
      </li>
      <li class="nav-item">
        <a class="nav-link" href="#"><span id="live">Live</span></a>
      </li>
      <li class="nav-item">
        <a class="nav-link enl" href="#">Contáctame</a>
      </li>
    </ul>
  </div>
</nav>
<!--
<div class="row">
  <div class="col"><a class="navbar-brand" href="#"><img src="assets/Icono.png"></a></div>
  <div class="col"><a class="nav-link enl" href="#">Home</a></div>
  <div class="col"><a class="nav-link enl" href="#">Biblioteca</a></div>
  <div class="col"><a class="nav-link enl" href="#">Quién soy</a></div>
  <div class="col"><a class="nav-link enl" href="#">Foro</a></div>
  <div class="col"><a class="nav-link" href="#"><span id="live">Live</span></a></div>
  <div class="col"><a class="nav-link enl" href="#">Contáctame</a></div>
</div>
-->
